# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
*.ipynb_checkpoints

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Spark checkpoints and temporary output
checkpoint_*/
spark-warehouse/
metastore_db/
.derby/

# Parquet and export data
/home/mickyans/ship-telemetry-project/export/
export/
*.parquet
*.csv
*.avro
*.orc

# Kafka/streaming temp files
*.pid
*.lock
*.gz
*.snappy
*.log

# DuckDB local files
*.duckdb

# VSCode / JetBrains IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/config.toml
**/.streamlit/
**/.pytest_cache/


# Docker files (if using Docker)
*.dockerfile
docker-compose.yml
.dockerignore
checkpoint_ship_telemetry/
checkpoint_ship_telemetry
